@import url("https://use.typekit.net/fnb4mlr.css");
@import url("https://use.typekit.net/klk5qoe.css");

a {
    text-decoration: none;
  }
h1{
    font-family: "chorine-large", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 350%;
}
div {
    text-align: center;
}

.topnav {
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: royalblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "trilby", serif;
  }
.topnav a:hover {
      color: black;
    }

.trilby-font {
      font-family: "trilby", serif;
      font-weight: 400;
      font-style: normal;
    }

.sticky-bottom {
      position: fixed;  
      bottom: 0;    
      left: 0;          
      width: 100%;   
      color: white;
      text-align: center;
      padding: 10px 0;
    }

    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 70px;
    }