@import url("https://use.typekit.net/fnb4mlr.css");
@import url("https://use.typekit.net/klk5qoe.css");

a {
    text-decoration: none;
  }
h1{
    font-family: "chorine-large", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: xxx-large;
}

p {
  color: black;
}
.font {
  font-family: "chorine-large", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
}
div {
    text-align: center;
}

.topnav {
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "trilby", serif;
  }
.topnav a:hover {
      color: gold;
    }

.trilby-font {
      font-family: "trilby", serif;
      font-weight: 400;
      font-style: normal;
    }

.decoration {
  color: gold;
}

.sticky-bottom {
  position: fixed;  
  bottom: 0;    
  left: 0;          
  width: 100%;   
  text-align: center;
  padding: 10px 0;
}

.gradient-background {
  height: 100%;
  background: linear-gradient(to bottom, orange, black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2em;
}

.text-container {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.translated-text {
  margin-top: 10px;
  font-style: italic;
}

.translation-toggle-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.translation-toggle-btn:hover {
  background-color: #0056b3;
}