@import url("https://use.typekit.net/fnb4mlr.css");
@import url("https://use.typekit.net/klk5qoe.css");
a {
    text-decoration: none;
  }
h1{
    font-family: "chorine-large", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 350%;
}
body {
    background-color: #f9e5ca;
}
div{
    text-align: center;
}
.trilby-font {
    font-family: "trilby", serif;
    font-weight: 400;
    font-style: normal;
  }
  .topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "trilby", serif;
  }
  .topnav a:hover {
      color: #6f2d24;
    }