@import url("https://use.typekit.net/fnb4mlr.css");
@import url("https://use.typekit.net/klk5qoe.css");

a {
    text-decoration: none;
  }
h1{
    font-family: "chorine-large", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: xxx-large;
}

.font {
  font-family: "chorine-large", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
}
div {
    text-align: center;
}

.topnav {
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "trilby", serif;
  }
.topnav a:hover {
      color: #597aa2;
    }

.trilby-font {
      font-family: "trilby", serif;
      font-weight: 400;
      font-style: normal;
    }

body {
  background-color: lightblue;
}

.decoration {
  color: #597aa2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sticky-bottom {
  position: fixed;  
  bottom: 0;    
  left: 0;          
  width: 100%;   
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container {
  text-align: center;
}

.glass {
  position: relative;
  width: 150px;
  height: 300px;
  border: 5px solid #000;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #00b0ff;
  transition: height 0.1s ease-out;
}

.oscar {
  font-size: 100px;
  display: inline-block;
  margin-top: 20px;
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
